# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Chainlit
.chainlit/

# Logs
*.log

# Misc
*.bak
*.swp
*.tmp
